@model IEnumerable<Alia.Models.Category>
@{
    ViewData["Title"] = "Category";
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <a class="btn btn-primary" asp-action="CategoryCreate">Create Category</a>
            <table class="table">
                <thead>
                    <tr><th>id</th><th>name</th></tr>
                </thead>
                @foreach (var item in Model)
                {
                <tbody>
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>
                            @*<a asp-action="DetailsMeasuringSystem" asp-controller="Job" asp-route-id="@item.MeasuringSystemId">Details</a> |*@
                            <a class="btn btn-success" asp-action="CategoryEdit" asp-controller="Item" asp-route-id="@item.CategoryId">Edit</a> |
                            <a class="btn btn-danger" asp-action="CategoryDelete" asp-controller="Item" asp-route-id="@item.CategoryId">Delete</a> |
                        </td>
                    </tr>
                </tbody>
                }
            </table>
        </div>
    </div>
</div>