@using Microsoft.AspNetCore.Identity
@model Alia.ViewModels.ChangeRoleViewModel


<div class="back-table" style="height:600px;" role="document">
    <div class="back-tbl center" style="margin-top: 30px;">
        <label class="text-top">Change user role @Model.UserEmail</label>
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-filter-2">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <input type="checkbox" name="roles" value="@role.Name"
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                    }
            </div>
            <button type="submit" class="filter-button-2">Save</button>
        </form>
    </div>
</div>