@model Alia.Models.Item
    @{
        ViewBag.Title = "Edit Item";
    }
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <form class="background-cri" asp-action="ItemEdit" asp-controller="Item" asp-route-id="@Model.ItemId"  enctype="multipart/form-data" >
        <div class="container-cri">
            <div class="photo-block">
                <div class="example-1">

                    <div class="form-group">
                        <label class="label">
                            @if (Model.BigImageData != null)
                            {
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.BigImageData))" width="320" height="320" style="border-radius: 15px; margin-left: -2px;margin-top:-1px; cursor: default;" class="rounded" />
                            }
                        </label>
                    </div>
                </div>
            </div>
            <div class="name-cri-block">
                <h2 class="inscription-cri">Name</h2>
                <h2 class="inscription-cri">Price</h2>
                <h2 class="inscription-cri">Description</h2>
            </div>
            <div class="input-cri-block input-cri-container">
                <input asp-for="ItemName" type="text" class="input-cri" placeholder="@Model.ItemName" name="ItemName" >
                <input asp-for="Price" type="text" class="input-cri-t" placeholder="@Model.Price" name="Price">
                <input asp-for="Description" type="text" class="input-cri-desc" placeholder="@Model.Description" name="Description">
            </div>
        </div>
        <div class="dropdown-cri-container">
            @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, htmlAttributes: new { @class = "dropdown-cri option-cri" })
            @Html.DropDownListFor(model => model.LocalityId, ViewBag.Localities as SelectList, htmlAttributes: new { @class = "dropdown-cri option-cri" })


        </div>
        <input type="submit" class="cri-button" value="Send">
    </form>