@model Alia.Models.Item
@{
    ViewBag.Title = "Item Delete";
}

<form class="background-deli" role="document" asp-controller="Item" asp-action="ItemDelete" method="post">
    <div class="back-deli-gr">
        <div class="back-deli-shadow">
            <div class="table-deli">
                <div class="tr-deli">
                    <div class="column-deli-1">
                        @if (Model.PreviewImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.PreviewImageData))" width="140" height="140" class="photo-deli" />
                        }
                    </div>
                    <div class="column-deli-2">
                        <h3 class="h3-deli margin-2">@Html.DisplayFor(model => model.ItemName)</h3>
                        <textarea class="h3-deli margin-40 ta-back-deli" readonly>@Model.Description</textarea>
                    </div>
                    <div class="column-deli-3">
                        <p class="h3-deli ">@Model.Price</p>
                        <p class="h3-deli ">@Model.CreatedDate</p>
                        <p class="h3-deli ">@Model.Category.CategoryName</p>
                        <p class="h3-deli ">@Model.Locality.LocalityName</p>

                    </div>
                    <div class="column-deli-4">
                        <input type="submit" class="btn-deli" id="submit" value="Delete">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>
