@model IEnumerable<Alia.Models.Region>
@{
    ViewData["Title"] = "Region";
}
<div class="back-table" style="height:auto;" role="document">
    <div class="back-tbl center" style="margin-top: 30px;">
        <label class="text-top">Create region</label>
        <a class="top-btn" asp-action="RegionCreate"><img src="/css/img_new/add.png" width="30" /></a>
        
        <table style="margin-left: 78px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.RegionId</td>
                        <td>@item.RegionName</td>
                        <td>
                            @*<a asp-action="DetailsMeasuringSystem" asp-controller="Job" asp-route-id="@item.MeasuringSystemId">Details</a> |*@
                            <a asp-controller="Item" asp-action="RegionEdit" asp-route-id="@item.RegionId"><img src="/css/img_new/edit.png" width="20" style="line-height: 20px;"></a>
                            <a asp-controller="Item" asp-action="RegionDelete" asp-route-id="@item.RegionId"><img src="/css/img_new/delete.png" width="20" style="line-height: 20px;"></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>